{{#if_logged_in}}
  <div class="navbar-inner">
    <div class="container">
      <div class="nav-collapse">
        <ul class="nav">
          {{#each items}}
            <li>
              <a href="#{{this.href}}">{{this.title}}</a>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
{{/if_logged_in}}
