{{#with_user}}
  {{#if id}}
    <div class="navbar-inner">
      <div class="container">
        <div class="nav-collapse">
          <ul class="nav">
            <li class="active">
              <a href="#home">Home</a>
            </li>
            <li class="">
              <a href="#connect">Mentions</a>
            </li>
            <li class="">
              <a href="">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  {{/if}}
{{/with_user}}
