{{#if _identity}}
  <textarea class="composable-tweet-text" placeholder="What's happening?"></textarea>
  <div class="composable-tweet-info">
    <span class="composable-tweet-character-count">140</span>
    <button class="btn btn-primary composable-tweet-send-button">Tweet</button>
  </div>
{{else}}
  Tweet your brunch is an example app
  built with <a href="http://brunch.io/">Brunch</a>,
  <a href="https://github.com/paulmillr/brunch-with-chaplin">Brunch with Chaplin</a>,
  <a href="http://backbonejs.org/">Backbone.js</a>,
  <a href="http://coffeescript.org/">CoffeeScript</a>,
  <a href="http://jade-lang.com/">Jade</a> and
  <a href="https://github.com/LearnBoost/stylus">Stylus</a>.
{{/if}}
