<header class="tweets-header">
  <h3>Tweets</h3>
  <div class="tweets"></div>
</header>
<div class="login-note">
  <h3>Tweet your brunch</h3>
  <img class="sign-in-button" src="https://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-l.png" />
</div>
  
